* {
    font-family: 'Indie Flower', cursive;
    position: relative;
}

.mojeImie {
    margin-left: 65%;
    margin-top: 3%;
    font-weight: bold;
    position: absolute;
}

.photoClass {
    margin-left: 70%;
    margin-top: 15%;
    position: absolute;
}

.whoAmI {
    margin-top: 12%;
    margin-left: 20%;
    position: absolute;
}

.whoMusican {
    margin-top: 20%;
    margin-left: 25%;
    position: absolute;
}

.whoGame {
    margin-top: 5%;
    margin-left: 25%;
    position: absolute;
}

.whoFront {
    margin-left: 5%;
    margin-top: 15%;
    position: absolute;
}

.jeden {
    content: "";
    position: absolute;
    border-top: 5px solid black;
    width: 15%;
    transform: rotate(30deg);
    transform-origin: 0% 0%;
}

.dwa {
    margin-left: 50%;
    content: "";
    position: absolute;
    border-top: 5px solid black;
    width: 30%;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
}

.trzy {
    margin-left: 55%;
    margin-top: 25%;
    content: "";
    position: absolute;
    border-top: 5px solid black;
    width: 30%;
    transform: rotate(50deg);
    transform-origin: 0% 0%;
}

.cztery {
    margin-left: 40%;
    margin-top: 25%;
    content: "";
    position: absolute;
    border-top: 5px solid black;
    width: 30%;
    transform: rotate(150deg);
    transform-origin: 0% 0%;
}

.piec {
    margin-left: 50%;
    margin-top: 40%;
    content: "";
    position: absolute;
    border-top: 5px solid black;
    width: 50%;
    transform: rotate(170deg);
    transform-origin: 0% 0%;
}

.szesc {
    margin-left: 40%;
    margin-top: 45%;
    content: "";
    position: absolute;
    border-top: 5px solid black;
    width: 50%;
    transform: rotate(30deg);
    transform-origin: 0% 0%;
}

